/* Home Page Styles */
.home {
    text-align: center;
  }
  
  .jumbotron {
    background-color: #f8f9fa; /* Background color for jumbotron */
    padding: 100px 0; /* Padding for jumbotron */
  }
  
  .jumbotron h1 {
    font-size: 3rem; /* Font size for heading */
    margin-bottom: 20px; /* Margin bottom for heading */
  }
  
  .jumbotron p {
    font-size: 1.5rem; /* Font size for paragraph */
    margin-bottom: 30px; /* Margin bottom for paragraph */
  }
  
  .btn {
    display: inline-block;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none;
    padding: 10px 20px; /* Padding for button */
    font-size: 1.2rem; /* Font size for button */
    border-radius: 5px; /* Border radius for button */
  }
  
  .btn:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
  