/* Global Styles */


/* Home Page Styles */
.home {
  text-align: center;
  padding: 40px;
  background-color: #fff;

}
.content{
  position: relative;
  top: 55px; 
}
header {
  margin-bottom: 40px;
  position: relative;/* Added position relative */
  height: 600px; /* Initial height */
}
:root {
  --bg-pos-x: 50%; /* Default horizontal position */
  --bg-pos-y: 50%; /* Default vertical position */
}

.header-image {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-image: url('../images/bg3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:calc(var(--bg-pos-x) - 20px) calc(var(--bg-pos-y) - 30px);
  z-index: 0; /* Set the z-index to position behind the content */
  opacity: 0.49;
}

header h1 {
  position: relative;
  font-size: 3em; /* Increase font size */
  color: #1e0d3f; /* Change text color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add text shadow for better visibility */
  margin-bottom: 10px; /* Decrease margin bottom */
  z-index: 1; /* Bring the h1 element in front of the background image */
  padding: 10px; /* Add padding for better appearance */
  transition: transform 0.5s ease-in-out; /* Add transition for smooth animation */
}

.header-para {
  position: relative;
  color: #0C2D57;
  margin-bottom: 20px;
  font-size: 1.5em; /* Increase font size */
  font-weight: bold; /* Add font weight */
  z-index: 1; /* Bring the p element in front of the background image */
  padding: 10px; /* Add padding for better appearance */
  transition: transform 0.5s ease-in-out; /* Add transition for smooth animation */
}

.btn {
  display: inline-block;
  background-color: #5536f0;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-color: #5536f0;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.5s ease-in-out;
  z-index: 1; /* Ensure the button is in front of the background image */
}


.btn:hover {
  background-color: #4527da;
  border-color: #4527da;
  transform: scale(1.1); /* Grow bigger on hover */
}

.view {
  position: absolute;
  left:42%;
  transform: scale(1.2);
  bottom: 45%;
}

.services {
  margin-top: auto;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services h2{
  flex: 0 0 100%;
  color: #0a031a;
}

.service-card {
  flex: 0 0 30%;
  margin: 30px 15px;
  padding: 20px;
  background-color: #031d3f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.5s ease-in-out; /* Add transition for smooth animation */
}
.service-card h3{
  color: #fff;
}
.service-card p{
  color: #f5e44af1;
}
.service-icon {
  font-size: 3em;
  margin-bottom: 20px;
}

.cta {
  margin-bottom: 40px;
}
.cta h2{
  color: #0a031a;
}
.book{
  margin-top: 20px;
  transform: scale(1.2);
}
/* Media queries for responsiveness */
@media screen and (max-width: 1400px) {
  header {
    width: 100%;
    height: 400px;
  }
  .header-image{
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 300px;
  }
  .header-image{
    height: 300px;
  }
  header h1 {
    font-size: 2em;
  }

  .header-para {
    font-size: 1.2em;
  }

  .btn {
    padding: 8px 16px;
  }

  .service-card {
    flex: 0 0 100%; /* Update to occupy full width */
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 200px;
  }
  .header-image{
    height: 200px;
  }
  header h1 {
    font-size: 1.5em;
  }

  .header-para {
    font-size: 1em;
  }

  .service-card {
    flex: 0 0 100%;
  }
}

/* Animation */
.header-heading:hover,
.header-heading:focus,
.header-heading:active {
  transform: scale(1.1); /* Scale up on hover */
}

.header-para:hover,
.header-para:focus,
.header-para:active {
  transform: scale(1.1); /* Scale up on hover */
}

.btn:hover,
.btn:focus,
.btn:active {
  transform: scale(1.1); /* Grow bigger on hover */
}
.service-card:hover,
.service-card:focus,
.service-card:active {
  transform: scale(1.1); /* Grow bigger on hover */
}