/* Reset CSS */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.container {
  margin: 0px;
  padding: 0px;
}

/* Specific Styles */
.home-container {
  text-align: center;
  margin-top: 0px;
}

.car-listings-container {
  margin-top: 0px;
}

.car-details-container {
  margin-top: 0px;
}

.booking-container {
  margin-top: 0px;
}
